<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner - HomePage</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
</html>

