<%- include('partials/header.ejs') %>

  <body>
    <div class="home-title-bar">
      <h1>Shorten your URL</h1>
      <div>
        <a href=<%=`${baseUrl}/` %>><button class="button logout-btn">LOGOUT</button></a>
      </div>
    </div>

    <div class="outer-home-div">
      <div class="url-container">
        <form method="POST" action="/url">
          <label for="url-field">Enter your original URL : </label>
          <input type="text" id="url-field" name="url" placeholder="https://www.your_url.com" />
          <button class="button" type="submit">SHORTEN</button>
        </form>
      </div>

      <div class="generated-url">
        <% if (locals.id) { %>
          <p> URL Generated : <a href=<%=`${baseUrl}/url/${id}` %> ><%=id%></a></p>

          <br>
          <a href=<%=`${baseUrl}/home` %>><button class="button">HOME PAGE</button></a>

          <% } %>
      </div>
      
      <div style="overflow-x:auto;" class="url-details-container">
        <% if (locals.urls) { %>
          <table>
            <thead>
              <th>S.No.</th>
              <th>Shortened Id</th>
              <th>Original Url</th>
              <th>Clicks</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <% urls.forEach((url, index)=> { %>
                <tr>
                  <td>
                    <%= index+1 %>
                  </td>
                  <td>
                    <a href=<%=`${baseUrl}/url/${url.shortID}` %> ><%=url.shortID%></a>
                  </td>
                  <td>
                    <%= url.redirectURL %>
                  </td>
                  <td>
                    <%= url.visitHistory.length %>
                  </td>
                  <td>
                    <form method="POST" action="/url/delete">
                      <button type="submit" name="button" class="button" value=<%=url.shortID %>>DELETE</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
                  </tr>
            </tbody>
          </table>
          <% } %>
      </div>
    </div>
  </body>


  <%- include('partials/footer.ejs') %>