<%- include('partials/header.ejs') %>
    <body>
        <div class="outer-landing-container">
            <div class="inner-landing-container">
                <h1>Welcome to Shorten URL</h1>
                <br />
                <img class="logo" src="/images/logo.png" alt="logo"/>
                <br>
                <div class="lan-btn-container">
                    <a href= <%= `${baseUrl}/login` %>><button class="button">Login</button></a>
                    <a href= <%= `${baseUrl}/signup` %>><button class="button">Signup</button></a>
                </div>
            </div>
        </div>
    </body>
