<%- include('partials/header.ejs') %>

  <body>
    <h1>Login Page</h1>
    <div class="outer-login-container">
      <form method="POST" action="/user/login">
        <div class="form-container">
          <label for="email">Email :
            <input id="email" type="email" name="email" required placeholder="email@email.com" />
          </label>

          <label for="password">Password :
            <input id="password" type="password" name="password" required placeholder="Your Password" />
          </label>
          <button class="button btn" type="submit">Login</button>
        </div>
      </form>
      <p class="sign-up-p">Don't have an account?<a href=<%=`${baseUrl}/signup`%>><button class="button">Sign
            Up</button></a></p>
    </div>
  </body>

  <%- include('partials/footer.ejs') %>