<%- include('partials/header.ejs') %>

  <body>
    <h1>Create Account Page</h1>

    <div class="outer-signup-container">
      <form class="signup-form" method="POST" action="/user">
        <div class="form-container">
          <label for="uname">UserName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;
            <input id="uname" type="text" name="username" required placeholder="Your Name" />
          </label>
          <label for="email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;
            <input id="email" type="email" name="email" required placeholder="email@email.com" />
          </label>
          <label for="password">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;
            <input id="password" type="password" name="password" required placeholder="Your Password" />
          </label>
          <button class="button btn" type="submit">Sign Up</button>
        </div>
      </form>
      <p class="sign-up-p">
        Already have an account?<a href=<%=`${baseUrl}/login` %>
          ><button class="button">Login</button></a>
      </p>
    </div>
    </div>
  </body>

  <%- include('partials/footer.ejs') %>