/* Common CSS */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #9babb8;
}

h1 {
  color: #eee3cb;
  text-align: center;
  margin: 5px;
  text-shadow: 1px 1px 2px black;
  font-size: 48px;
}

.logo {
  height: 200px;
  width: 400px;
  border-radius: 50px;
  box-shadow: 1px 1px 2px black;
}

label {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
}

input {
  border: none;
  border-radius: 6px;
  text-align: center;
  padding: 6px 16px;
  font-size: 16px;
}

.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 8px 20px;
  width: 200px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

footer {
  width: 94vw;
  position: relative;
  bottom: 0;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form > button,
.signup-form > button {
  margin-top: 20px;
  width: 50%;
}

/* Landing Page CSS */

.outer-landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-landing-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 5px;
}

.lan-btn-container {
  margin: 10px;
}

/* Login Page CSS */

.outer-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-container {
  box-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding: 20px;
}

.btn {
  margin-top: 20px;
}

.sign-up-p {
  margin-top: 30px;
  padding: 10px;
  box-shadow: 1px 1px 1px black;
  font-size: 20px;
}

.sign-up-p > a {
  padding: 10px;
}

/* SignUp Page CSS */

.outer-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Home Page */

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 7px;
}

.outer-home-div {
  margin-top: 50px;
}

.generated-url {
  text-align: center;
}

.generated-url > p {
  font-size: 20px;
}

.home-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.url-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-details-container {
  height: 70vh;
  text-align: center;
  padding: 5px;
}

/* Responsive design - Mobiles */

@media screen and (max-width: 425px) {
  h1 {
    color: #eee3cb;
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
  }
  
  label, input {
    margin: 10px;
  }

  /* Landing Page CSS */

  .outer-landing-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-landing-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 5px;
  }

  .lan-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .logo {
    height: 100px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 1px 1px 2px black;
  }

  /* Login, SignUp Page CSS */

  .outer-login-container,
  .outer-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin: 20px;
  }

  .form-container {
    box-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin-top: 20px;
  }

  .sign-up-p {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1px black;
  }

  /* Home Page */

  .logout-btn {
    width: fit-content;
    font-size: 16px;
  }

  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
  }

  th,
  td {
    border: 1px solid black;
    padding: 7px;
  }

  .outer-home-div {
    margin-top: 50px;
  }

  .generated-url {
    text-align: center;
  }

  .generated-url > p {
    font-size: 20px;
  }

  .home-title-bar {
    display: flex;
    padding: 10px;
  }

  .url-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .url-details-container {
    height: 70vh;
    text-align: center;
    padding: 5px;
  }
}
